/* Intro */
#Intro p{
    font-size: 27px;
}

#directions{
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    gap: 20%;
}
.direction span{
    font-weight: 400;
    color: #776C82;
}

/* Features */

#Features{
    margin: 70px -100px 0px;
    
}

.Features_header{
    background-color: rgba(94, 35, 157, 1);
    width: 100%;
    padding: 100px;
}


#white{
    color: white;
}
#no-margin{
    color: white;
    margin-bottom: 0px;
}

.Features_block{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    height: 318px;
} 

.Features_block p {
    font-weight: 400;
    color:rgba(244, 244, 237, 1);
}

.Features_block h4 {
    color:rgba(246, 16, 103, 1);
    font-size: 27px;
    font-weight: 500;
}


.Features_block_caption, .Features_block_text{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

#first_Features_block .Features_block_text{
    background-color: #5E239D;
}

#second_Features_block .Features_block_text{
    background-color: #30124E;
    margin-left: -50px;
}

#third_Features_block .Features_block_text{
    background-color: #150433;
}

#Features_content {
    display: flex;
    
}

#Features_content > div {
    width: 76%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overlayed-image {
    flex: 1;
    height: auto; 
    object-fit: contain;
    position: relative;
}

.overlayed-image img{
    position: absolute;
    width: 460px;
    height: 1004px;
    top: -50px;
    object-fit: cover;
}

/* Logos */

#Logos::before{
    inset: 0;
    z-index: -2;
    content: '';
    height: 100%;
    position: absolute;
    background: 
    linear-gradient(to left, rgb(255, 255, 255) 50%, transparent),
    url('assets/images/index/logos.png') no-repeat;
}

#Logos {
    position: relative;
    margin: 100px -100px 0px;
    padding-right: 200px;
    background: transparent;
    min-height: 648px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

#Logos::after{
    mix-blend-mode: multiply;    
    inset: 0;
    z-index: -1;
    content: '';
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-color: #00F0B5 !important;
}

/* Intro */

#Intro{
    margin: 100px 0px;
}

#directions{
    justify-content: center;
    gap: 2%;
}

.direction{
    border: rgba(246, 16, 103, 0.5) 1px solid;
    padding: 50px 25px;
}
