li{
    text-decoration: none;
}
a{
    text-decoration: none;
}

ul{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

button {
    all: unset; 
    display: inline-block; 
    box-sizing: border-box; 
    cursor: pointer; 
}
 